*box-sizing{
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    color: #f0f0f0;
    background-image:linear-gradient(135deg, #1f232a #1a202c);
    background-attachment: fixed;
    background-color: #1f232a;
}
header{
    background-color: rgba(15,20,25,0.8);
    width: 100%;
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
header h1{
    text-align: center;
    color: #ffc107;
    margin: 0;
    
}
h1, h2, a {
    letter-spacing: 1px;
    text-transform: uppercase;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    margin: 0;
    font-size: 1.5rem;
    color: #f0f0f0;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}
footer{
    background-color: yellow;
    height: 30px;
    width: 600px;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    color: black;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
footer p{
    text-align: center;
}