*{
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    color: #f0f0f0;
    background-image:linear-gradient(135deg, #1f232a #1a202c);
    background-attachment: fixed;
    background-color: #1f232a;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgba(15,20,25,0.8);
    width: 100%;
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
header h1{
    text-align: center;
    color: #ffc107;
    margin: 0;
    
}
h1, h2, a {
    letter-spacing: 1px;
    text-transform: uppercase;
}
nav{
    display: flex;
    gap: 20px;
}
nav a{
   text-decoration: none;
   margin: 0%; 
   color: #ffc107;
}
main{
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.catalog{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 20px 0;
}
.catalog div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(15,20,25,0.8);
    border-radius: 20px;
    border: 5px solid #ffc107;
}
.catalog img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}
.catalog div:hover{
    box-shadow: 0px 0px 20px #ffc107;
}
footer{
    background-color: #ffc107;
    height: 30px;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
footer p{
    text-align: center;
    margin: 0;
}

