*{
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    color: #f0f0f0;
    background-image:linear-gradient(135deg, #1f232a #1a202c);
    background-attachment: fixed;
    background-color: #1f232a;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgba(15,20,25,0.8);
    width: 100%;
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
header h1{
    text-align: center;
    color: #ffc107;
    margin: 0;
    
}
h1, h2, a {
    letter-spacing: 1px;
    text-transform: uppercase;
}
nav{
    display: flex;
    gap: 20px;
}
nav a{
   text-decoration: none;
   margin: 0%; 
   color: #ffc107;
}
main{
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.container1, .container2{
    background: rgba(30, 35, 45, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.video-wrapper {
   position: relative;
   padding-bottom: 70%;
   height: 0;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba (0, 0, 0, 0.5);
   border: 3px solid #ffc107;
   overflow: hidden;
   width: 100%;
}
.video-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
footer{
    background-color: #ffc107;
    height: 30px;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
footer p{
    text-align: center;
    margin: 0;
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
